{% extends 'quotes/base.html' %}

{% block body %}
<div class="content mt-3">
    <h2>Create Author</h2>
    {% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label content="form-label">Fullname:
                {{ form.fullname }}
            </label>
            <span>{{form.errors.fullname}}</span>
        </div>

         <div class="mb-3">
            <label content="form-label">Born date:
                {{ form.born_date }}
            </label>
            <span>{{form.errors.born_date}}</span>
        </div>

        <div class="mb-3">

            <label content="form-label">Born location
                {{ form.born_location}}
            </label>
            <span>{{form.errors.born_location}}</span>
        </div>

        <div class="mb-3">

            <label content="form-label">Description
                {{ form.description}}
            </label>
            <span>{{form.errors.description}}</span>
        </div>

<!--        <div class="form-floating mb-3">-->
<!--            <textarea class="form-control mb-3" placeholder="Leave a Description here" id="floatingTextarea"></textarea>-->
<!--            <label class="mb-3" for="floatingTextarea">Description</label>-->
<!--        </div>-->

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </form>
</div>
{% endblock %}